body {
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: small;
	color: #fdfdfd;
	background-color: #082030;
}

table {
	border-collapse: collapse;
	background-color: #203848;
	box-shadow: 0 0 8px black;
	width: 100%;
}

table th {
	color: #80d0f0;
	background-color: #206080;
	border: solid 1px #5c5e5d;
	font-size: x-small;
}

table td {
	border: solid 1px #5c5e5d;
}

a:link { color: #c0c0c0; }
a:visited { color: #c0c0c0; }
a:hover { color: #f0f0f0; }
a:active { color: #ffffff; }

.main {
	width: 1024px;
	text-align: left;
}

.checkstyle {
	margin: 2px;
	padding: 2px;
}

.raidbg {
	background: linear-gradient(#a06263, #4a3838);
}

.generalbg {
	background: linear-gradient(#6b809f, #243346);
}

.supportbg {
	background: linear-gradient(#a79763, #3b3924);
}

.skill_la {
	border: solid 0px #fdfdfd;
	margin: 0px;
	padding: 0px;
	text-align: left;
	vertical-align: middle;
	float: left;
	font-size: small;
}

.skill_ra {
	border: solid 0px #fdfdfd;
	margin: 0px;
	padding: 0px;
	text-align: right;
	vertical-align: middle;
	font-size: small;
}

/* --- Text --- */

.textborder {
  text-shadow:2px 2px 0 #206080, -2px -2px 0 #206080,
              -2px 2px 0 #206080, 2px -2px 0 #206080,
              0px 2px 0 #206080,  -2px 0 #206080,
              -2px 0 0 #206080, 2px 0 0 #206080;
}

/* --- Checkbox --- */

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 18px;
  padding-right: 8px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: small;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #082030;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #082030;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #082030;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* --- Button --- */

button {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  background: #203848;
  border: solid 1px #469196;
  border-radius: 2px;
  transition: .4s;
}

button:hover {
  background: #469196;
  color: white;
}

/* --- Select --- */

.cp_ipselect {
	overflow: hidden;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: #203848;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl02 {
	position: relative;
	border: 1px solid #469196;
	border-radius: 2px;
	background: #469196;
}
.cp_ipselect.cp_sl02::before {
	position: absolute;
	top: 0.4em;
	right: 0.1em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #469196;
	pointer-events: none;
}
.cp_ipselect.cp_sl02:after {
	position: absolute;
	top: 0;
	right: 1.0em;
	bottom: 0;
	width: 1px;
	content: '';
	border-left: 1px solid #469196;
}
.cp_ipselect.cp_sl02 select {
	padding: 1px 1px 1px 1px;
	color: white;
}

